<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="barista_robot">

<xacro:arg name="include_laser" default="true"/>
<xacro:arg name="robot_name" default="rick"/>

<xacro:include filename="$(find barista_robot_description)/xacro/drive_wheel.xacro" />
<xacro:include filename="$(find barista_robot_description)/xacro/caster_wheel.xacro" />
<xacro:include filename="$(find barista_robot_description)/xacro/standoff_rod.xacro" />
<xacro:include filename="$(find barista_robot_description)/xacro/cup_holder_tray.xacro" />
<xacro:include filename="$(find barista_robot_description)/xacro/laser_scanner.xacro" />
<xacro:include filename="$(find barista_robot_description)/xacro/barista_robot.gazebo.xacro" />

<xacro:property name="robot_name" value="$(arg robot_name)"/>
<xacro:property name="body_width" value="0.155"/>
<xacro:property name="body_radius" value="0.178"/>

<!-- Materials -->
  <material name="red">
      <color rgba="1.0 0.0 0.0 1"/>
  </material>

  <material name="blue">
      <color rgba="0.0 0.0 1.0 1"/>
  </material>

  <material name="black">
      <color rgba="0.0 0.0 0.0 1"/>
  </material>

  <material name="white">
      <color rgba="1.0 1.0 1.0 1"/>
  </material>

  <link name="base_link">
  </link>

<!-- Body -->
   <link name="chassis">
    <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <cylinder length="${body_width}" radius="${body_radius}"/>
        </geometry>
        <xacro:if value="${robot_name == 'rick'}">
            <material name="red"/>
        </xacro:if>
        <xacro:unless value="${robot_name == 'rick'}">
            <material name="blue"/>
        </xacro:unless>
    </visual>

    <collision>
      <geometry>
        <cylinder length="${body_width}" radius="${body_radius}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.5"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.004962" ixy="0.0" ixz="0.0" iyy="0.004962" iyz="0.0" izz="0.007921"/>
    </inertial>
  </link>

  <joint name="base_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.1127" />
    <parent link="base_link" />
    <child link="chassis" />
  </joint>

<!-- Drive Wheels -->
<xacro:drive_wheel wheel_name="left" material="black" parent="chassis" x="0" y="0.155" z="-0.0775" />
<xacro:drive_wheel wheel_name="right" material="black" parent="chassis" x="0" y="-0.155" z="-0.0775" />
<!-- Caster Wheel -->
<xacro:caster_wheel pos="back" material="white" parent="chassis" x="-0.140" y="0" z="-0.0775" />
<xacro:caster_wheel pos="front" material="white" parent="chassis" x="0.140" y="0" z="-0.0775" />
<!-- Stand-off Rods -->
<xacro:standoff_rod number="1" material="black" parent="chassis" x="0.05" y="-0.12" z="0.1875" length="0.220" radius="0.01" />
<xacro:standoff_rod number="2" material="black" parent="chassis" x="-0.05" y="-0.12" z="0.1875" length="0.220" radius="0.01"  />
<xacro:standoff_rod number="3" material="black" parent="chassis" x="0.05" y="0.12" z="0.1875" length="0.220" radius="0.01" />
<xacro:standoff_rod number="4" material="black" parent="chassis" x="-0.05" y="0.12" z="0.1875" length="0.220" radius="0.01" />
<!-- Cup Holder tray -->
<xacro:cup_holder_tray parent="chassis" x="0" y="0" z="0.3425" robot_name="$(arg robot_name)"/>
<!-- Laser scan -->
<xacro:if value="$(arg include_laser)">
  <xacro:laser_scanner parent="chassis" x="0.1" y="0" z="0.0775" robot_name="$(arg robot_name)" />
</xacro:if>

<!-- PLUGINS -->
<xacro:barista_gazebo robot_name="$(arg robot_name)" />


</robot>