<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
<xacro:macro name="barista_gazebo" params="robot_name">

  <gazebo>
    <plugin filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
        <topic>${robot_name}/joint_states</topic>
        <update_rate>30</update_rate>
        <joint_name>joint_left_wheel</joint_name>
        <joint_name>joint_right_wheel</joint_name>
        <joint_name>front_yaw_joint</joint_name>
        <joint_name>back_yaw_joint</joint_name>
        <joint_name>front_roll_joint</joint_name>
        <joint_name>back_roll_joint</joint_name>
        <joint_name>front_pitch_joint</joint_name>
        <joint_name>back_pitch_joint</joint_name>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
        <left_joint>joint_left_wheel</left_joint>
        <right_joint>joint_right_wheel</right_joint>
        <wheel_separation>0.310</wheel_separation>
        <wheel_radius>0.0352</wheel_radius>
        <topic>${robot_name}/cmd_vel</topic>
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf> 
        <odom_topic>${robot_name}/odom</odom_topic>
        <frame_id>${robot_name}/odom</frame_id>
        <child_frame_id>${robot_name}/base_link</child_frame_id>
    </plugin>
  </gazebo>

  </xacro:macro>     
</robot>