<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
<xacro:property name="tray_height" value="0.090"/>
<xacro:property name="tray_radius" value="0.16"/>

<!-- Cup Holder Tray Macro -->
  <xacro:macro name="cup_holder_tray" params="parent x y z robot_name">
    <link name="cup_holder_tray">
    <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <cylinder length="${tray_height}" radius="${tray_radius}"/>
        </geometry>
        <xacro:if value="${robot_name == 'rick'}">
            <material name="red"/>
        </xacro:if>
        <xacro:unless value="${robot_name == 'rick'}">
            <material name="blue"/>
        </xacro:unless>
    </visual>

    <collision>
      <geometry>
        <cylinder length="${tray_height}" radius="${tray_radius}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.4"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.00283" ixy="0" ixz="0" iyy="0.00283" iyz="0" izz="0.00512"/>
    </inertial>

   </link>

   <joint name="cup_holder_tray_joint" type="fixed">
        <origin rpy="0 0 0" xyz="${x} ${y} ${z}" />
        <parent link="${parent}" />
        <child link="cup_holder_tray" />
  </joint>

  </xacro:macro>

</robot>